---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  <div class="teaching-list">
    {% for group in site.data.teaching %}
        <h4 class="mt-5 mb-3">{{ group.role }}</h4>
        
        {% for course in group.courses %}
        <div class="card mt-3 p-3">
            <div class="row g-3 align-items-center">
                {% if course.image %}
                <!-- Image Column -->
                <div class="col-12 col-sm-2 d-flex justify-content-center align-items-center px-2">
                    <div class="p-2 mb-3 mb-sm-0 w-90">
                        <img src="{{ course.image }}"
                            alt="{{ course.title }} thumbnail"
                            class="thumbnail-img img-fluid rounded shadow-sm w-90">
                    </div>
                </div>
                {% endif %}

                <!-- Text Column -->
                <div class="col-12 col-sm-9">
                <h5 class="mb-1">
                    {% if course.url %}
                    <a href="{{ course.url }}">{{ course.title }}</a>
                    {% else %}
                    {{ course.title }}
                    {% endif %}
                </h5>
                <p class="text-muted mb-1">{{ course.code }} · {{ course.term }} · {{ course.school }}</p>
                {% if course.description %}
                    <p class="mb-0">{{ course.description }}</p>
                {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}
    {% endfor %}
    </div>

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
